<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.k15.mapper.GradeMapper">
  <resultMap id="BaseResultMap" type="com.woniu.k15.entity.Grade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="coursenum" jdbcType="INTEGER" property="coursenum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from k15_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.k15.entity.Grade">
    insert into k15_grade (id, name, coursenum
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{coursenum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.woniu.k15.entity.Grade">
    update k15_grade
    set name = #{name,jdbcType=VARCHAR},
      coursenum = #{coursenum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, coursenum
    from k15_grade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, coursenum
    from k15_grade
  </select>
</mapper>