<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.k15.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.woniu.k15.entity.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.woniu.k15.entity.Role">
    insert into t_role (id, code, name, 
      insert_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.woniu.k15.entity.Role">
    update t_role
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, code, name, insert_time, update_time
    from t_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, code, name, insert_time, update_time
    from t_role
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="String">
    select id, code, name, insert_time, update_time
    from t_role where name like concat("%",#{name},"%")
  </select>

  <select id="selectRoleVoByKey" parameterType="long" resultType="long">
    SELECT url_permission_id FROM t_role_url_permission WHERE role_id = #{id}
  </select>

  <select id="addBatchRoleAndPer">
    insert into t_role_url_permission (role_id,url_permission_id) values
    <foreach collection="checkedIds" separator="," item="pid">
      (#{id},#{pid})
    </foreach>
  </select>

  <select id="selectRolesBymid" resultType="RoleVo">
    SELECT r.id,r.name FROM t_role r ,t_manager_role mr WHERE r.id = mr.role_id AND mr.manager_id = #{id};
  </select>

</mapper>