<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置参数-->
    <settings>
        <!--开启Mybatis支持延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--aggressiveLazyLoading为true则每次调用domain中的get或set或任何方法时，
                都会自动全部加载,false为按需加载-->
        <setting name="aggressiveLazyLoading" value="false"></setting>
        <!-- 开启自动驼峰命名规则（camel case）映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
        只要配置别名 就会报错 ，不配置别名就不报错
        因为项目所在的文件夹 有中文路径 就报错
    -->
    <typeAliases>
        <package name="com.woniu.k15.entity"/>
        <package name="com.woniu.k15.vo"/>
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 设置插件方言  -->
            <property name="helperDialect" value="mysql" />
            <!--
                默认值为 false，当该参数设置为 true 时，如果 pageSize=0 或者 RowBounds.limit = 0 就会查询出全部的结果
                （相当于没有执行分页查询，但是返回结果仍然是 Page 类型）。
             -->
            <property name="pageSizeZero" value="true"/>
            <!--
                分页合理化参数，默认值为false。当该参数设置为 true 时，pageNum<=0 时会查询第一页， pageNum>pages（超过总数时），
                会查询最后一页。默认false 时，直接根据参数进行查询。
             -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>